# Ignore virtual environments
env/
.venv/
venv/
ENV/
key.env

# Ignore les fichiers de build
/build/
/dist/

# Ignore les fichiers de dépendances
node_modules/

# Ignore les fichiers systèmes (macOS)
.DS_Store

# Ignore les fichiers log
*.log